<!DOCTYPE html>
<html>
    <head>
        {% include site-head.html %}
    </head>
    <body>
        <div class="site">
          <div class="l-container container-header">
            <div class="branding">
              <a href="{{ site.baseurl }}/">
                <h1 class="branding_logo">OS Bass Tabs</h1>
              </a>
            </div>
            {% include menu.html %}
          </div>

          <section class="post l-wrapper">
            {{ content }}
          </section>

          <div class="l-container container-footer">
            <footer class="footer l-wrapper"></footer>
          </div>

        {% include site-foot.html %}
    </body>
</html>
