<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="x-rim-auto-match" content="none">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
        
        <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
        <!-- build:css(.tmp) {{ site.baseurl }}/styles/application.css -->
        <link rel="stylesheet" href="{{ site.baseurl }}/styles/application.css">
        <!-- endbuild -->
    </head>
    <body>

        <div class="site">
          <div class="l-container container-header">
            <header class="header l-wrapper">
              <div class="branding">
                <a href="{{ site.baseurl }}">
                  <div class="branding_logo">
                    <img src="{{ site.baseurl }}/images/os-bass-tabs-logo.svg" width="333" height="401">
                  </div>
                  <h1 class="branding_title">OS Bass Tabs</h1>
                </a>
              </div>
              <nav class="nav nav-main">
                <ul class="navbuttons navbuttons-main">
                  <li class="navbutton"><a href="{{ site.baseurl }}">Bass Tabs</a></li>
                  <li class="navbutton"><a href="{{ site.baseurl }}/about.html">About</a></li>
                  <li class="navbutton"><a href="{{ site.baseurl }}/contribute.html">Contribute</a></li>
                </ul>
              </nav>
            </header>
          </div>

          <section class="post l-wrapper">
            {{ content }}
          </section>

          <div class="l-container container-footer">
            <footer class="footer l-wrapper"></footer>
          </div>

        <!-- build:js({.tmp}) {{ site.baseurl }}/scripts/application.js -->
        <script type="text/javascript" src="{{ site.baseurl }}/scripts/application.js"></script>
        <!-- endbuild -->
    </body>
</html>
