<!DOCTYPE html>
<html>
    <head>
        {% include site-head.html %}
    </head>
    <body>
        <div class="site">
          <div class="l-container container-header">
            {% include menu.html %}
            <div class="branding">
              <a href="{{ site.baseurl }}/">
                <h1 class="branding_logo">OS Bass Tabs</h1>
              </a>
              <button class="burger_button" type="button" role="button" aria-label="Toggle Navigation">
                <span class="burger_lines"></span>
              </button>
            </div>
          </div>

          <div class="menu_overlay"></div>

          <section class="post l-wrapper">
            {{ content }}
          </section>

          <div class="l-container container-footer">
            <footer class="footer l-wrapper">
              <div class="footer_content">2015 - This project is maintained by <a href="//robertpataki.com" target="_blank">Rob Pataki</a></div>
              <div class="branding_footer"></div>
            </footer>
          </div>

        {% include site-foot.html %}
    </body>
</html>
