---
layout: default
---
<article class="l-content">
  <div class="l-block">
    <h2>{{ page.title }}</h2>
    <p class="meta">Tabs added: {{ page.date | date_to_string }}</p>
  </div>

  <div class="l-block">
    <h3>The tabs</h3>
    {{ content }}
  </div>

  {% if page.youtube %}
    <div class="l-block">
      <h3>The song</h3>
      <div class="video-embed">
        <div class="video-placeholder" id="yt-player" data-url="{{page.youtube}}"></div>
      </div>
    </div>
  {% endif %}
  </div>
</article>
