---
layout: default
---
<article class="l-content">
  <div class="l-block-tab post_header">
    <h2>{{ page.song }}</h2>
    <div class="metadata">
      <p class="meta-artist"><span class="meta_label">Artist:</span> {{ page.artist }}</p>
      <p class="meta-album"><span class="meta_label">Album:</span> {{ page.album }}</p>
      <p class="meta-year"><span class="meta_label">Year:</span> {{ page.year }}</p>
      <p class="meta-date"><span class="meta_label">Created:</span> {{ page.date | date: '%-d/%m/%Y' }}</p>
      
      {% if page.author != "" %}
        <p class="meta-author"><span class="meta_label">Author:</span>
          {% if page.author_site != "" %}
          <a href="{{ page.author_site }}" target="_blank">{{page.author}}</a>
          {% elsif page.author_email != "" %}
          <a href="mailto:{{ page.author_email }}?subject=OS Bass Tabs">{{page.author}}</a>
          {% else %}
          {{page.author}}
          {% endif %}
        </p>
      {% endif %}
    </div>
  </div>

  <div class="l-block-page">
    <div class="content">
      <h3>The tabs</h3>
      {{ content }}
    </div>
  </div>

  {% if page.youtube %}
    <div class="l-block-page">
      <div class="content">
        <h3>The song</h3>
        <p>
          <div class="video-embed">
            <div class="video-placeholder" id="yt-player" data-url="{{page.youtube}}"></div>
          </div>
        </p>
      </div>
    </div>
  {% endif %}  

  {% include related_posts.html %}

  <div class="l-block-page">
    <div class="content">
      <h3>Have your say!</h3>
      <p>
        <div id="disqus_thread"></div>
      </p>
    </div>
  </div>

  <div class="l-block-page">
    <div class="content">
      <p class="button_wrapper">
        <a href="{{ site.baseurl }}/about.html" class="button-big">Read more about this project</a>
        <a href="{{ site.baseurl }}/contributing.html" class="button-big">See how you can contribute</a>
      </p>
    </div>
  </div>
</article>
