body, html {
  width: 100%;
  @extend .font-body;
  background-color: $colour-site-background;
}

* {
  position: relative;
  box-sizing: border-box;
}

blockquote {
  padding: 0 0 0 6px;
  margin: 0;
  border-left: 6px solid lighten($colour-horizontal-rule, 30%);
}