.l-container {
  width: 100%;
}
.l-wrapper {
  @include outer-container;
}

.l-content {
  @include outer-container;
  padding: 15px 0 50px 0;
}

.l-block {
  @include span-columns(10);
  @include shift(1);
  @include clearfix;

  &:nth-child(2) {
    margin-top: 20px;
  }

  &:not(:nth-child(2)) {
    margin-top: 21px;
  }
}

.l-block-tab {
  @extend .l-block;

  &:not(:first-child, :last-child) {
    padding-bottom: 21px;
    border-bottom: 1px solid $colour-font-highlight;
  }
}

.l-block-page {
  @include span-columns(8 of 10);
  @include shift(1);

  &:not(:first-child):not(:last-child) {
    padding-bottom: 21px;
    border-bottom: 1px solid tint($colour-font, 80%);
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  &:first-child {
    margin-top: 40px; 
  }

  &:nth-child(2) {
    margin-top: 0;
  }

  .content {
    @include span-columns(7.8 of 8);
    @include shift(0.1);
  }

  .heading {
    margin-bottom: 10px;
  }
}

.l-block-resource {
  @extend .l-block;

  &:not(:nth-child(2)) {
    margin-top: 12px;
  }

  &:nth-child(2) {
    margin-top: 0;
  }
}