.container-header {
  background-color: $colour-header-background;
}
.container-footer {
  background-color: $colour-footer-background;
} 

.container-header {
  z-index: 1000;
}

.header {
  height: 80px;
}
.footer {
  height: 210px;
}

.branding {
  position: absolute;
  display: inline-block;
  z-index: 1000;
  top: 10px;
  padding-left: $metrics-site-margin;
}
.branding_logo {
  width: 232px;
  height: 62px;
  display: inline-block;
  @include retina-image("../images/inline/os-bass-tabs-logo", 232px 62px);
  overflow: hidden;
  text-indent: -999999px;
  margin: 0;
}

.video-embed {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 56.2%;

  .video-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}