.container-header {
  background-color: $colour-header-background;
}
.container-footer {
  background-color: $colour-footer-background;
} 

.container-header {
  z-index: 1000;
}

.header {
  height: 80px;
}
.footer {
  height: 210px;
}

.branding {
  position: absolute;
  display: inline-block;
  z-index: 1000;
  top: 10px;
  padding-left: $metrics-site-margin;
}
.branding_logo {
  width: 232px;
  height: 62px;
  display: inline-block;
  @include retina-image("../images/inline/os-bass-tabs-logo", 232px 62px);
  overflow: hidden;
  text-indent: -999999px;
  margin: 0;
}

.video-embed {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 56.2%;

  .video-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.heading-inline {
  @include span-columns(5 of 10);

  @include media($tablet-breakpoint) {
    @include span-columns(10 of 10);    
  }
}

.search {
  @include span-columns(5 of 10);

  @include media($tablet-breakpoint) {
    @include span-columns(10 of 10);    
  }
}
#searchfield {
  right: 4px;
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 40px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.3);

  @include transition-property(border);
  @include transition-duration(0.2s);
  @include animation-timing-function($ease-out-expo);

  &:focus {
    outline: none;
    border-color: lighten($colour-font-highlight, 10%);
  }
}

#searchresults {
  @include span-columns(10 of 10);
}

a.button-big {
  @include span-columns(5 of 10);
  background: $colour-button-background;
  border: none;
  outline: none;
  padding: 32px 12px;
  color: $colour-font-invert;
  text-align: center;
  margin-top: 24px;

  @include transition-property(background);
  @include transition-duration(0.2s);
  @include animation-timing-function($ease-out-expo);

  &:hover {
    background: tint($colour-button-background, 10%);
    text-decoration: none;
  }

  @include media($tablet-breakpoint) {
    @include span-columns(10 of 10);    
  }
}

.branding_footer {
  width: 80px;
  height: 89px;
  margin: 48px auto 0 auto;
  @include retina-image("../images/inline/os-bass-tabs-logo-invert", 80px 89px);
  opacity: 0.8;
}