.post {
  background-color: $colour-content-background;
  padding-top: 80px;
}

.container-header, 
.container-footer {
  background-color: $colour-header-background;
} 

.container-header {
  position: fixed;
  z-index: 1000;
}

.header {
  height: 80px;
}
.footer {
  height: 210px;
}

.branding_logo {
  position: absolute;
  z-index: 1000;
  top: -10px;
  
  img {
    width: 100px;
    height: 120px;
  }
}
.branding_title {
  float: left;
  color: #FFFFFF;
  left: 110px;
}

.video-embed {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 56.2%;

  .video-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}