.button_wrapper {
  @include clearfix;
  margin-top: 24px;
}

a.button {
  background: $colour-button-background;
  border: none;
  outline: none;
  padding: 32px 12px;
  color: $colour-font-invert;
  text-align: center;

  @include transition-property(background);
  @include transition-duration(0.2s);
  @include animation-timing-function($ease-out-expo);

  &:hover {
    background: tint($colour-button-background, 10%);
    text-decoration: none;
  }

  @include media($tablet-breakpoint) {
    margin-bottom: 8px;
  }
}


a.button-big {
  @extend .button;
  @include span-columns(5 of 10);

  @include media($tablet-breakpoint) {
    @include span-columns(10 of 10);    
  }
}

a.button-medium {
  @extend .button;
  @include span-columns(3 of 10);

  @include media($tablet-breakpoint) {
    @include span-columns(10 of 10);    
  }
}

a.button-cta {
  background: tint($colour-font-highlight, 10%);

  &:hover {
    background: tint($colour-font-highlight, 20%);
  }
}

.content {
  a.button-medium {
    @include span-columns(2.666667 of 8);

    @include media($tablet-breakpoint) {
      @include span-columns(10 of 10);    
    }
  }
}