.meta {
  margin: 0 0 4px 0;
}
.meta-artist,
.meta-album,
.meta-year,
.meta-date,
.meta-author,
.meta-tuning,
.meta-tags {
  @extend .meta; 
}

.meta-author {
  a {
    color: inherit;
  }
}

.meta_label {
  opacity: 0.6;
}

.meta-tags {
  padding-left: 12px;
  margin-top: 12px;
}
.meta_tags {
  margin: 0;
  padding: 0;
  display: inline;
}
.meta_tag {
  background: rgba(255, 255, 255, 0.2);
  color: $colour-font-invert;
  padding: 2px 6px 3px 6px;
  display: inline-block;
  font-size: 72%;
  border-radius: 1px;
  top: -1px;
}

@include media($tablet-breakpoint) {
  .metadata {
    .left,
    .right {
      display: block;
    }
    .right {
      position: relative;
      right: 0;
      left: 0;
    }
  }
}