.meta {
  margin: 0 0 4px 0;
}
.meta-artist,
.meta-album,
.meta-year,
.meta-date,
.meta-author {
  @extend .meta; 
}

.meta-date {
  position: absolute;
  right: 12px;
  top: 0;
}
.meta-author {
  position: absolute;
  right: 12px;
  top: 24px;

  a {
    color: inherit;
  }
}

.meta_label {
  opacity: 0.6;
}

@include media($tablet-breakpoint) {
  .meta-date,
  .meta-author {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    padding-left: 12px;
  }
}