.meta {
  margin: 0 0 4px 0;
}
.meta-artist,
.meta-album,
.meta-year,
.meta-date,
.meta-author,
.meta-tuning {
  @extend .meta; 
}

.meta-author {
  a {
    color: inherit;
  }
}

.meta_label {
  opacity: 0.6;
}

@include media($tablet-breakpoint) {
  .metadata {
    .left,
    .right {
      display: block;
    }
    .right {
      position: relative;
      right: 0;
      left: 0;
    }
  }
}