.nav {

}

.nav-main {
  float: right;

  .navbutton {
    padding: 30px 12px;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;

      &:before {
        position: absolute;
        display: block;
        content: "";
        top: -30px;
        left: -12px;
        right: -12px;
        bottom: -30px;
      }
    }
  }
}

.navbuttons {
  display: block;
  list-style: none;
  color: $colour-font-invert;
  margin: 0;
  padding: 0;
}

.navbutton {
  float: left;
  margin: 0;
  padding: 0;

  &:not(.last-child) {
    margin-right: 10px;
  }

  a {
    color: $colour-font-invert;
    text-decoration: none;
  }
}