.post {
  background-color: $colour-content-background;

  h2 {
    @extend .font-headline;
  }

  h3 {
    @extend .font-headline;
  }

  h4 {
    @extend .font-subheadline;
    margin-top: 42px;
    margin-bottom: 0;
  }

  blockquote {
    padding: 0 0 0 6px;
    margin: 0;
    border-left: 6px solid $colour-tab-border;
      
    ul {
      padding-left: 24px;
    }
  }

  .highlight {
    pre {
      background: $colour-tab-background;
      padding: 12px 12px 12px 12px;
      border-left: 6px solid $colour-tab-border;
      color: $colour-font-tab;
    }
  }
}

.post_header {
  @include span-columns(10.5);
  @include shift(0.75);
  background: inline-image("../images/inline/post-header.jpg") 50% 50%;
  background-size: cover;
  // background-attachment: fixed;
  background-color: #147b50;
  color: $colour-font-invert;
  padding: 24px;

  h2 {
    margin-top: 40px;
    color: $colour-font-invert;
    font-size: 210%;

    @include media($mobile-breakpoint) {
      font-size: 140%;      
    }
  }
}