.postlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.postlistitem {
  margin-bottom: 14px;
  padding: 14px;
  background: $colour-tab-background;
  color: $colour-font;
  border-bottom: 3px solid $colour-tab-border;

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  a {
    display: block;

    &:before {
      position: absolute;
      display: block;
      content: "";
      top: -14px;
      left: -14px;
      right: -14px;
      bottom: -14px;
    }
  }
}