.post {
  background-color: $colour-content-background;
  padding-top: 80px;

  h2 {
    @extend .font-headline;
  }

  h3 {
    @extend .font-headline;
  }

  h4 {
    @extend .font-subheadline;
    margin-top: 42px;
    margin-bottom: 0;
  }

  blockquote {
    padding: 0 0 0 6px;
    margin: 0;
    border-left: 6px solid lighten($colour-horizontal-rule, 30%);
  }
}