.postlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.postlistitem {
  margin: 0 12px 12px 0;
  color: $colour-font-invert;
  width: 200px;
  height: 200px;
  float: left;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: $colour-font-invert;
    font-size: 110%;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;

    &:before {
      position: absolute;
      display: block;
      content: "";
      top: -14px;
      left: -14px;
      right: -14px;
      bottom: -14px;
    }
  }
}

.postlistitem_img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  @include retina-image("../images/inline/record-sleeve", 200px 200px);
}

.postlistitem_content {
  padding: 12px;
  position: absolute;
  bottom: 6px;
}