.post {
  background-color: $colour-content-background;

  h2 {
    @extend .font-headline;
  }

  h3 {
    @extend .font-headline;
  }

  h4 {
    @extend .font-subheadline;
    margin-top: 42px;
    margin-bottom: 0;
  }

  blockquote {
    padding: 0 0 0 6px;
    margin: 0;
    border-left: 6px solid $colour-tab-border;
  }

  .highlight {
    pre {
      background: $colour-tab-background;
      padding: 12px 12px 12px 24px;
      border-left: 6px solid $colour-tab-border;
      color: $colour-font-tab;
    }
  }
}