.resources {
  list-style: none;
  border: 1px solid tint($colour-font, 40%);
  margin-left: 0;
  padding-left: 0;

  .resource {
    width: 100%;
    margin: 0;
    padding: 12px 18px;

    &:nth-child(2n) {
      background: tint($colour-tab-background, 60%);
    }
  }
}