<header class="header l-wrapper">
  <nav class="nav nav-main">
    <ul class="navbuttons navbuttons-main">
      <li class="{% render_time /index.html%}">
        <a href="{{ site.baseurl }}/">Bass Tabs</a>
      </li>
      <li class="{% render_time /about.html%}">
        <a href="{{ site.baseurl }}/about.html">About</a>
      </li>
      <li class="{% render_time /contributing.html%}">
        <a href="{{ site.baseurl }}/contributing.html">Contributing</a>
      </li>
    </ul>
  </nav>
</header>