<div class="l-block-page">
<div class="content">
  <h3>What the symbols mean?</h3>
  <p>The standard practice is to write extra letters or symbols between notes
to indicate how to play them.  Here are the letters/symbols most
often used:</p>
    <dl>
      <dt>h</dt>
      <dd>hammer on</dd>

      <dt>p</dt>
      <dd>pull off</dd>

      <dt>b</dt>
      <dd>bend string up</dd>

      <dt>r</dt>
      <dd>release bend</dd>

      <dt>/</dt>
      <dd>slide up</dd>

      <dt>\</dt>
      <dd>slide down</dd>

      <dt>v, ~</dt>
      <dd>vibrato</dd>

      <dt>t</dt>
      <dd>right hand tap</dd>

      <dt>x</dt>
      <dd>play 'note' with heavy damping</dd>
    </dl>
  </div>
</div>